@use '../typography' as t;

.bet {
  box-sizing: border-box;

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-setting {
    position: absolute;
    bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    @include t.m14();
    margin-top: 28px;
    margin-bottom: 18px;

    img {
      width: 24px;
      height: 24px;
    }

    span {
      margin-left: 12px;
    }
  }
}

.wallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 16px;
  box-sizing: border-box;
  padding: 0 4px;

  &-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    &-text {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  &-balance {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include t.m14();

    &-value {
      color: #fff;
      @include t.m14();
      margin-right: 6px;
    }
    &-currency {
      color: var(--secondary);
      @include t.m14();
    }
  }

  &-btn {
    margin-top: 16px;
    width: 100%;
  }
}

@media screen and (min-width: 450px) {
  .wallet {
    &-btn {
      margin-top: 24px;
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 1025px) and (orientation: landscape) {
  .bet {
    width: 384px;
    padding: 0 16px;

    &-right {
      margin-left: calc(100% - 384px);
    }
  }
}

@media screen and (min-width: 1026px) {
  .wallet {
    margin-top: 24px;
  }

  .bet {
    flex-direction: column-reverse;
    width: 368px;
    padding: 0 16px;

    &-right {
      margin-left: calc(100% - 370px);
    }

    &-container {
      flex-direction: column-reverse;
    }
  }
}
