.game-container {
  width: calc(100% + 16px);
  height: 344px;
  margin: 0 -8px;
  background: rgba(119, 12, 255, 0.41);
  border-radius: 12px;
  box-sizing: border-box;

  iframe {
    border: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1240px) and (orientation: landscape) {
  .game-container {
    position: absolute;
    right: 12px;
    top: 16px;
    height: calc(100svh - 28px);
    width: calc(100% - 400px);
    margin: 0;

    &-right {
      left: 14px;
      right: unset;
    }
  }
}

@media screen and (min-width: 1382px) {
  .game-container {
    position: absolute;
    left: 396px;
    top: 16px;
    height: calc(100vh - 28px);
    width: calc(100% - 412px);
    margin: 0;

    &-right {
      left: 14px;
      right: unset;
    }
  }
}

