:root {
  --primary: #131629;
  --secondary: #6F728D;
  --tertiary: #25273F;

  --max-bet: #4D506C;

  --btn-initial: #6D62F6;
  --btn-disabled: rgba(209, 206, 254, 0.5);

  --settings: #E5E6ED;
  --settings-under: #9EA2B9;
}
