.game-container {
  width: calc(100% + 24px);
  height: 344px;
  margin: 0 -12px;
  background: rgba(119, 12, 255, 0.41);
  border-radius: 12px;
  box-sizing: border-box;

  iframe {
    border: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
